@model IEnumerable<Crud_MVC_AngularJS_app.Controllers.HomeController>


@{
    ViewBag.Title = "Student";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Student.js"></script>

<h2>Student</h2>

<div ng-app="myApp">
    <div ng-controller="myCntrl">
        <div class="form_horizontal" role="form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-control">
                            <label class="control-label">Student Name:</label>
                            <input type="text" nclass="form-control" ng-model="SName" />

                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="form-control">
                            <label class="control-label">Student Age:</label>
                            <input type="text" nclass="form-control" ng-model="SAge" />

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-control">
                            <label class="control-label">Student Department:</label>
                            <input type="text" nclass="form-control" ng-model="SDepartment" />

                        </div>

                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="submit" class="form-control" id="insertStd" value="Submit" ng-click="InsertStudent()" />

                        </div>

                    </div>

                </div>


            </div>




        </div>
        <div ng-init="GetAllStudent()">
            <h3>Student Records</h3>
            <table cellpadding="12" class="table table-bordered table-hover">
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>age</th>
                    <th>Department</th>
                    <th>Action</th>

                </tr>

                @*its also use for repeat loop we use ng-repeat*@
                <tr ng-repeat="Std in Student">
                    <td>{{Std.Id}}</td>
                    <td>{{Std.Name}}</td>
                    <td>{{Std.Age}}</td>
                    <td>{{Std.department}}</td>
                    <td>
                        <input type="button" ng-click="UpdateStudent(Std)" value="Update" class="btn btn-warning" />
                        <input type="button" ng-click="DeleteStudent(Std)" value="Delete" class="btn btn-danger" />

                    </td>


                </tr>




            </table>
        </div>

    </div>

</div>

